<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCF_MyChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <WCF_MyChatClient.Properties.Settings>
            <setting name="WCF_MyChatClient_localhost_MyChatService" serializeAs="String">
                <value>http://localhost:57233/MyChatService.svc</value>
            </setting>
            <setting name="WCF_MyChatClient_zyxel_MyChatService" serializeAs="String">
                <value>http://zyxel:8005/MyChatService.svc</value>
            </setting>
            <setting name="WCF_MyChatClient_MyInternetWCF_MyChatService"
                serializeAs="String">
                <value>http://sorrow256-001-site1.dtempurl.com/MyChatService.svc</value>
            </setting>
        </WCF_MyChatClient.Properties.Settings>
    </applicationSettings>
</configuration>